body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: #e2e8f0;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #020617;
}

.logo {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #e2e8f0;
  text-decoration: none;
}

/* HEADER */
header {
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 40px;
}

/* SECTION */
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

/* SKILLS */
.skills span {
  background: #1e293b;
  padding: 8px 12px;
  margin: 5px;
  display: inline-block;
  border-radius: 6px;
}

/* PROJECT */
.project-card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  transition: 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* BUTTON */
button {
  margin-top: 10px;
  padding: 10px;
  background: #38bdf8;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0ea5e9;
}